*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 65vh;
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header::before{
    content: "";
        background-image: url('./assets/images/bg01.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        z-index: 1;
}

header::after{
    content: "";
    background-color: lightblue;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
}